/* ============================================= */
/* Global Styles */
/* ============================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: $bg-colour;
    background-image: url("../../../assets/BackgroundShapes.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}

.home-main {
    padding: 52px 0 25px;

    @include mq($tablet-mq) {
        height: 100%;
        max-width: 558px;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @include mq($laptop-mq) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1208px;
        padding: 0 $tablet-padding;
    }
    
    @include mq($desktop-mq) {
        padding: 0;
    }
}



