

// Colours
$body-copy-colour: #6C2500;
$main-header-colour: #251E21;
$sub-header-colour: #F2744E;
$start-btn-colour: #FDE5CA;
$btn-primary-colour: #5D65FF;
$btn-secondary-colour: #F5F6F8;
$bg-colour: #FCF5ED;
$white: #FFFFFF;
$eyebrow-text-colour: #FCD3A7;

// Number values
$mobile-padding: 22px;
$tablet-padding: 32px;
$lg-laptop-padding: 44px;
$brdr-curve: 20px;
$mobile-lg-mq: 425px;
$tablet-mq: 768px;
$laptop-mq: 1024px;
$desktop-mq: 1280px;

// Typography
$header-font: 'Ubuntu', sans-serif;
$body-font: 'Open Sans', sans-serif;
