/* ============================================= */
/* Button styles */
/* ============================================= */

.start-btns {
    background-color: $start-btn-colour;
    padding: 15px 20px;
    height: 78px;
    border-radius: $brdr-curve;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @include mq($tablet-mq) {
      height: 106px;
      padding: 28px 35px;
    }

    @include mq($desktop-mq) {
      height: 125px;
      padding: 28px 35px;
    }

    &::after {
      content: url('../../assets/Group10.svg');
    }

    h4 {
      font-size: 1.25rem;
      color: $sub-header-colour;

      @include mq($tablet-mq) {
        font-size: 1.5625rem;
      }
    }

    p {
      display: none;

      @include mq($tablet-mq) {
        display: block;
      }
    }
}

.start-btns:nth-child(2),
.start-btns:nth-child(3) {
  cursor: initial;
  
  &::after {
    content: url('../../assets/locked-icon.svg');
  }
}

.selected-answer {
  background-color: $sub-header-colour !important;
  color: white !important;
}