/* ============================================= */
/* Button styles */
/* ============================================= */

.start-btns {
    background-color: $start-btn-colour;
    border: none;
    font-family: $header-font;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: left;
    color: $sub-header-colour;
    padding: 15px 20px;
    height: 78px;
    border-radius: $brdr-curve;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
        content: url(../assets/arrow-btn.svg);
        // height: 11.1px;
        // width: 10.22px;
        // margin: 0 0 0 7px;
      }
}