/* ============================================= */
/* Quick Play styles */
/* ============================================= */

.exit-btn {
    position: absolute;
    right: 22px;
    top: 22px;
    cursor: pointer;
}

.game-main {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include mq($laptop-mq) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        padding: 0;
    }

    .intro-section {
        padding: 30px $mobile-padding 50px;
        text-align: center;

        @include mq($tablet-mq) {
            max-width: 500px;
            margin: 0 auto;
            padding: 70px 0 0;
        }

        @include mq($laptop-mq) {
            width: 45%;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 0 $tablet-padding;
            margin: 0;
        }

        @include mq($desktop-mq) {
            margin: 0 auto;
        }

        h1 {
            margin-bottom: 5px;

            @include mq($tablet-mq) {
                margin-bottom: 15px;
            }
        }
    }

    .main-game-area {
        height: 100%;
        width: 100%;
        background-color: white;
        padding: 50px $mobile-padding 30px;
        text-align: center;
        border-radius: 30px 30px 0 0;

        @include mq($tablet-mq) {
            height: initial;
            min-height: 680px;
            position: absolute;
            bottom: 0;
            border-radius: 50px 50px 0 0;
            padding: 60px $tablet-padding 30px;
        }

        @include mq($laptop-mq) {
            position: static;
            display: flex;
            align-items: center;
            width: 55%;
            border-radius: 50px 0 0 50px;
            text-align: left;
            -webkit-box-shadow: -36px 0px 84px -52px rgba(0,0,0,0.05);
            -moz-box-shadow: -36px 0px 84px -52px rgba(0,0,0,0.05);
            box-shadow: -36px 0px 84px -52px rgba(0,0,0,0.05);
        }

        .game-content-wrapper {

            @include mq($tablet-mq) {
                max-width: 640px;
                margin: 0 auto;
            }

            @include mq($laptop-mq) {
                max-width: 431px;
            }

            @include mq($desktop-mq) {
                max-width: 558px;
                min-width: 558px;
            }

            h5 {
                color: $eyebrow-text-colour;
                font-size: 0.875rem;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;
                margin: 0;
            }
    
            h2 {
                margin: 0;
                padding: 10px 0 30px 0;
                font-size: 1.25rem;
    
                @include mq($tablet-mq) {
                    font-size: 1.75rem;
                    max-width: 500px;
                    margin: 0 auto;
                }

                @include mq($laptop-mq) {
                    font-size: 2.1875rem;
                    margin: 0;
                    max-width: initial;
                }

                @include mq($desktop-mq) {
                    font-size: 2.8125rem;
                }
            }
    
            .answer-section {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
                margin-bottom: 40px;
    
                @include mq($tablet-mq) {
                    margin: 0 auto 40px;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;
                }

                @include mq($laptop-mq) {
                    grid-template-columns: 1fr;
                    grid-gap: 15px;
                }
    
                button {
                    outline: none;
                    background-color: $bg-colour;
                    border: none;
                    font-family: $header-font;
                    font-size: 16px;
                    color: $body-copy-colour;
                    text-align: left;
                    padding: 22px 26px;
                    border-radius: $brdr-curve;
                    cursor: pointer;

                    @include mq($tablet-mq) {
                        height: 68px;
                    }

                    
                }

                .selected-answer-error {
                    color: red;
                }
            }
    
            .submit-btn {
                width: 100%;
                padding: 22px 20px;
                border-radius: $brdr-curve;
                display: inline-block;
                background-color: $btn-primary-colour;
                color: white;
                border: none;
                font-family: $header-font;
                font-size: 16px;
                cursor: pointer;
                outline: none;

                @include mq($laptop-mq) {
                    width: 170px;
                }
            }
    
            .progress-bar-wrapper {
                margin: 40px 0;

                @include mq($tablet-mq) {
                    margin: 100px 0 40px;
                }

                @include mq($laptop-mq) {
                    margin: 30px 0 0;
                    text-align: center;
                }

                @include mq($desktop-mq) {
                    height: 461px;
                    position: absolute;
                    right: 28px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                }
    
                p {
                    margin: 0;
                    max-width: 100%;
                }
    
                .progress-bar {
                    height: 6px;
                    width: 100%;
                    background-color: rgba(#F2744E, 0.08);
                    border-radius: 5px;
                    margin-top: 12px;

                    @include mq($desktop-mq) {
                        height: 90%;
                        width: 6px;
                    }

                    .progress-bar-inner {
                        width: 2%;
                        height: 100%;
                        background-color: $sub-header-colour;
                        border-radius: 5px;

                        @include mq($desktop-mq) {
                            height: 2%;
                            width: 100%;
                        }
                    }
                }
            }
    
            .project-by-wrapper {

                @include mq($tablet-mq) {
                    position: absolute;
                    bottom: $tablet-padding;
                    left: 50%;
                    transform: translateX(-50%);
                }

                @include mq($laptop-mq) {          
                    left: $tablet-padding;
                    transform: translateX(0);
                }
    
                a {
                    text-decoration: none;
                }
            }
        }
    }
}




// .game-copy-wrapper {
//     padding: 40px $mobile-padding;
//     text-align: center;

//     @include mq($tablet-mq) {
//         max-width: 500px;
//         margin: 0 auto;
//         padding: 70px $tablet-padding;
//     }
    
//     h1 {
//         padding-bottom: 15px;

//         @include mq($tablet-mq) {
//             font-size: 35px;
//         }
//     }
// }

